<?xml version="1.0" encoding="UTF-8"?>
<suite parallel="false" name="Suite">
  <test name="Test">
    <classes>
      <class name="com.qa.tests.LoginTests"/>
      <methods>
      <exclude name="selectprovider"/>
      <exclude name="explore1"/>
      <exclude name="invalidoutletcode"/>
	 <exclude name="validoutletCode"/>
	 <exclude name="forgotPassword"/>
	 </methods>
	<class name="com.qa.tests.OrdersTest"/>
    </classes>
    
  </test> <!-- Test -->
</suite> <!-- Suite -->

